* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #080808;
  color: white;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0, 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 10px 10%;
  margin-top: -71px;
}
nav {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 259px;
  height: 321px;
  margin-top: -39px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 80px;
  color: #434343;
  font-style: normal;
  font-weight: lighter;
  font-family: "Cabin";
}
.header-text h1 span {
  color: white;
}
.header-text h2 {
  font-size: 60px;
  font-weight: lighter;
  font-family: "Cabin";
  font-style: normal;
}
.typewrite {
  color: #ff004f;
  text-decoration: none;
  font-weight: lighter;
  font-family: "Cabin";
  font-style: normal;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* ************************************************* about *************************************************************** */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  background: #ff004f;
  border-radius: 15px;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  display: flex;
}
.about-col-2 {
  height: 400px;
  width: 649px;
  background: linear-gradient(
    180.15deg,
    #232323 35.87%,
    rgba(35, 35, 35, 0) 99.87%
  );
  border-radius: 14px;
  padding: 10px 20px;
}
.sub-title:before {
  content: " ";
  display: block;
  height: 2px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: -490px;
  background: #ff004f;
}
.sub-title {
  position: relative;
}
.sub-title {
  position: relative;
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}
.sub-title:after {
  content: " ";
  height: 2px;
  width: 500px;
  background: #ff004f;
  display: block;
  position: absolute;
  top: 50%;
  right: -490px;
}

.sub-title {
  font-size: 60px;
  font-weight: 200;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #620926;
  font-size: 14px;
}
/* *****************************************services****************************************** */
#services {
  padding: 30px 0;
  background: rgb(35, 35, 35);
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-bottom: 59px;
}
.services-list div {
  background: black;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
  /* transform: scale(1.1); */
}
/* ***********************************************************portfolio************************************************** */
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff004f;
}

/* ******************************contact********************************************************************** */
#contact {
  margin-top: 134px;
  background: rgb(35, 35, 35);
}
.fa-solid,
.fas {
  font-weight: 900;
}

.about-col-3 {
  flex-basis: 35%;
  border-radius: 15px;
}

.about-col-4 {
  height: 385px;
  width: 649px;
  border-radius: 14px;
  padding: 10px 20px;
  margin-top: 14px;
}
.about-col-4 img {
  width: 91%;
  height: 108%;
  border-radius: 15px;
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  margin-left: 15px;
  border-radius: 8px;
  border: none;
}
.contact-left p {
  margin-top: 30px;
  margin-left: 145px;
}
.contact-left p i {
  color: #ff004f;
  font-size: 25px;
}
.contact-right form {
  width: 35%;
  margin: auto;
}
form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px;
  color: black;
  font-size: 18px;
  background: rgb(123, 122, 122);
  border-radius: 12px;
  border: 1px solid rgb(30, 30, 30);
}
form input::placeholder,
form textarea::placeholder {
  color: #080808;
}
form .btn2:hover {
  background-color: #690a26;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
form .btn2:active {
  transform: scale(0.9);
}
form .btn2 {
  padding: 14px 40px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #1a1a1a;
  font-weight: 300;
  margin-top: 20px;
}

.footer {
  position: relative;
}
.footer {
  position: relative;
  max-width: 500px;
  margin: 28px;
  text-align: center;
}

.footer {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
/* ***************************************responsiveness**************************************** */
nav .fa-solid {
  display: none;
}
@media only screen and (max-width: 1400px) {
  /* #header {
    background-image: url(phone-background.png);
  } */
  .header-text {
    margin-top: 35%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
    color: #434343;
    font-style: normal;
    font-weight: lighter;
    font-family: "Cabin";
  }

  .header-text h1 span {
    color: white;
  }
  .typewrite {
    color: #ff004f;
    text-decoration: none;
    font-weight: lighter;
    font-family: "Cabin";
    font-style: normal;
  }
  .header-text h2 {
    font-size: 30px;
    font-weight: lighter;
    font-family: "Cabin";
    font-style: normal;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
  }
  .sub-title:after {
    content: " ";
    height: 5px;
    width: 75px;
    background: #ff004f;
    display: block;
    position: absolute;
    top: 50%;
    right: -39px;
  }
  .sub-title:before {
    content: " ";
    display: block;
    height: 5px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: -64px;
    background: #ff004f;
  }
  form input,
  form textarea {
    width: 168%;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid rgb(30, 30, 30);
  }
  .about-col-4 img {
    /* width: 99%;
    height: 82%;
    border-radius: 15px;
    border: 1px solid blue; */
    display: none;
  }
  .logo {
    width: 200px;
    height: 209px;
    margin-top: -32px;
    margin-left: -26px;
  }
  .contact-left p {
    margin-top: 30px;
    margin-left: 85px;
  }
}
